
/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: var(--cream);
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.widget {
  position: absolute;
  width: 600px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}

.upper {
  text-transform: uppercase;
}

.product-image img {
  max-width: 300px;
}

.product-content {
  padding: 32px;
}

.product-category {
  color: var(--gray-blue);
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.product-name {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  color: var(--dark-blue);
  margin-bottom: 24px;
}

.product-description {
  color: var(--gray-blue);
  line-height: 23px;
  margin-bottom: 29px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
  margin-bottom: 30px;
}

.current-price {
  font-family: 'Fraunces', serif;
  color: var(--dark-cyan);
  font-size: 32px;
}

.was-price {
  color: var(--gray-blue);
  text-decoration: line-through;
}

.buy {
  padding-block: 15px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.button {
  text-align: center;
  color: var(--white);
  background-color: var(--dark-cyan);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  --dark-cyan: hsl(158, 42%, 18%);
}