
/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: var(--cream);
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

div {
  /* border: 1px solid red; */
}

.widget {
  position: absolute;
  width: 600px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3%;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
}

.hero img {
  max-width: 300px;
}

.product-content {
  /* width: 50%; */
}